<body>
    <div class="container-fluid">
    <h4>List Student</h4>
    <button class="btn btn-white btn-animated">Add new student</button>
    <div class="table-reponsive-sm">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10%">Student ID</th>
                    <th style="width: 10%" >Full Name</th>
                    <th style="width: 10%">Birthday</th>

                    <th style="width: 10%">Class</th>
                    <th style="width: 10%">Phone</th>
                    <th style="width: 10%">Email</th>
                    <th style="width: 10%">Actions</th>
                </tr>
            </thead>

        </table>

    </div>
    </div>
</body>
    
