<h5>Hello worduuu</h5>
<router-outlet>
    <div class="middle">
        <h1>Welcome to My Test</h1> <br>

        <pre style="font-size: 15px; font-family: Arial, Helvetica, sans-serif; text-align: center;">
       Đề tài: Hệ Thống Quản Lý Thông Tin Sinh Viên
       Bài Test được thực hiện bởi Lê Khắc Trung. Sinh viên ngành Kỹ Thuật Phần Mềm,
       thuộc khoa CNTT của trường Đại Học Công Nghiệp TPHCM. Mục đích để có cơ hội
       tham gia vào team VDAT, để được học hỏi thêm kinh nghiệm và công nghệ mới.
     </pre>
        <hr width="60%">
        <div class="wrapper">
            <button routerLink="/list" class="btn btn-white btn-animated" type="button">
                Start Test
            </button>

        </div>
    </div>
</router-outlet>